<div class="checkbox">
    <input
      type="checkbox"
      class="checkbox-element"
      <%if (input.checked) { %>
        checked
      <%} %>
    />
    <label for="<%= input.id %>" class="checkbox-label">
      <span class="dots">...</span>
    </label> 
</div>