<div class="modal color-modal" tabindex="-1" role="dialog" id="color-modal">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close-modal">close the modal</button>
        <img src="./img/color-picker.png" class="color-picker-img img-fluid" />
      </div>
    </div>
  </div>
</div>