<div class="modal row-modal" tabindex="-1" role="dialog" id="row-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="top-row">insert row above</button>
        <button type="button" class="bottom-row">insert row below</button>
      </div>
    </div>
  </div>
</div>