<div class="col-xs-12 rail-container color-rail">
  <img src="./img/icons/icon-folder.png" class="folder-icon"  class="img-fluid" />

  <ul class="icons-list">
    <li>
      <button type="button" class="sidebar-trigger">
        <img src="./img/icons/png/icon-tables.png" class="img-fluid" />
      </button>
    </li>
    <li>
      <img src="./img/icons/png/icon-filter.png"  class="img-fluid" />
    </li>
    <li class="bell">
      <img src="./img/icons/png/icon-notifications.png"  class="img-fluid" />
    </li>
    <li>
      <img src="./img/icons/png/icon-settings.png"  class="img-fluid" />
    </li>
    <li>
      <img src="./img/icons/png/icon-user.png"  class="img-fluid" />
    </li>
  </ul>

  <div class="picker-container">
  </div>
</div>
