<div class="col-xs-12 table-list-sidebar">
  <button type="button" class="btn sidebar-display">hide the sidebar again</button>

  <h2>tables</h2>

  <ul class="table-list">
    <% tableList.forEach(function(item) { %>
      <li class="table-item">
        <span class="icon icon--<%= item.icon %>"></span>
        <span class="table-name"><%= item.name %></span>
      </li>
    <% }) %>
  </ul>
  <button type="button" class="add-table-btn">Add a table</button>
</div>