<div class="col-xs-12 rail-container">
  <!-- <span class="icon icon--left-rail"></span> -->
  <img src="../img/green-rail.svg" class="green-rail rail" />
  <img src="../img/orange-rail.svg" class="orange-rail rail hide" />
</div>
