<div class="col-xs-12 rail-container color-rail">
  <ul class="icons-list">
    <li>
      <button type="button" class="sidebar-trigger">
        <img src="../img/icons/png/icon-tables.png"/>
      </button>
    </li>
    <li>
      <img src="../img/icons/png/icon-filter.png" />
    </li>
    <li class="bell">
      <img src="../img/icons/png/icon-notifications.png" />
    </li>
    <li>
      <img src="../img/icons/png/icon-settings.png" />
    </li>
    <li>
      <img src="../img/icons/png/icon-user.png" />
    </li>
  </ul>

  <div class="picker-container">
  </div>
</div>
