<div class="col-xs-12 rail-container color-rail">
  <ul>
    <li><button type="button" class="btn sidebar-trigger">one</button></li>
    <li>two</li>
    <li>three</li>
    <li>four</li>
    <li>five</li>
  </ul>

  <div class="picker-container">
  </div>
</div>
