/***************************
  BASE
****************************/
@import "base/variables";

/***************************
  CCOMPONENTS
****************************/
@import "components/checkbox";
@import "components/table";
@import "components/modal";
@import "components/sidebar";

/***************************
  RULES
****************************/
.pd {
  padding-left: 0;
  padding-right: 0;
}

.icon {
  padding: 0 20px 0 10px;
  margin-left: 15px;
}

.img-div {
  img {
    width: 100%;
  }
}

.hide {
  display: none;
  visibility: hidden;
}

.show {
  display: block;
  visibility: visible;
}

.modal-content {
  background: transparent;
  border: none;
  cursor: pointer;

  .close-modal {
    position: relative;
    top: 40px;
    left: 120px;
    opacity: 0;
    padding: 200px;
    cursor: pointer;
  }
}

.color-picker-img {
  max-height: 240px;
  width: auto;
}

.video {
  cursor: pointer;
}

.table-row {
  cursor: pointer;
}

// alf
body {
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
  background-image: url('../img/tables/table-hmpg_bg.png');
  background-repeat: repeat-x;
  width: 100%;
  min-width: 1240px;
}

/* ------ Global ----- */

.left {
  float: left;
}
.right {
  float: right;
}

/* ------ Table Homepage ----- */

.page-top_table {
  min-width: 100%;
}
.tbl {
  display: table;
  table-layout: fixed;
  min-width: 100%;
  clear: both;
}
.col {
  cursor: pointer;
}
.tbl-col {
  display: table-cell;
}

.sidebar-trigger {
  cursor: pointer;
}

.panel-view {
  border-right: 0.5px solid #d7d6d9;
  background-color: #f7f7f8;
}

.record-page {
  .color-rail {
    background-color: $green;
  }  

  .record-color-rail {
    margin-right: 15px;
    text-align: center;
    padding-left: 8px;
    background-color: $green;
  }

  #record-detail {
    .slice-two {
      float: right;
    }
  }

  .manager-row {
    background-image: url('../img/bottom-border-record.png');
    background-repeat: repeat-x;
    width: 100%;
    min-width: 1240px;
  }
}

.record-page {
  background-color: white;
}

.tl-sc {
  padding-left: 0;
}

// my apps page
body.tablebody {
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
  background-image: url('img/table-hmpg_bg.png');
  background-repeat: repeat-x;
  width: "100%";
  min-width: 1240px;
}

body.myapps {
  margin: 0 auto;
  background-color: #ffffff;
  background-image: url('img/my-apps_bg2.png');
  background-repeat: repeat-x;
  width: "100%";
  min-width: 1240px;
}

/* ------ Global ----- */

.wrapper {
  min-width: 1240px;
}

.left {
  float: left;
}
.right {
  float: right;
}


/* ------ My Apps ----- */

.page-top_myapps {
  min-width: 100%;
  background-image: url('img/gifs/my-apps_bg2.png');
  background-repeat: repeat-x;
}

.myapps-left {
  width: 8px;
  height: 100%;
  background-color: #94af45;
  float: left;
}

#link-gif {
    width: 232px;
    height: 235px;
    cursor: pointer;
}

.grid {
  max-width: 1100px;
  padding-top: 32px;
}

#link {
  width: 232px;
    height: 232px;
    float: left;
}
