/***************************
  BASE
****************************/
/***************************
  CCOMPONENTS
****************************/
.checkbox {
  display: inline-block;
  padding-right: 3px; }

.checkbox-element {
  /*
* https://webaim.org/techniques/css/invisiblecontent/#techniques
* hiding the checkbox styles
* border/margin/padding helps turn off any default browser padding
* height/clip work as a backup in case positioning fails or isn't supported for some reason.
*/
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  /* hide the check by default */ }
  .checkbox-element + label:after {
    content: none; }
  .checkbox-element + label:before {
    background-size: 0% 0%;
    -webkit-transition: background-size 0.05s ease-in-out;
    transition: background-size 0.05s ease-in-out; }
  .checkbox-element:checked + label:after {
    content: ''; }
  .checkbox-element:checked + label:before {
    border: 1px solid #1b99ff;
    -webkit-transition: border 0.05s ease-in-out;
    transition: border 0.05s ease-in-out; }
  .checkbox-element:checked + label:before {
    background-size: 100% 100%;
    -webkit-transition: background-size 0.05s;
    transition: background-size 0.05s; }
  @media (-webkit-min-device-pixel-ratio: 0) {
    .checkbox-element:focus + label:before,
    .checkbox-element:active + label:before {
      outline-color: -webkit-focus-ring-color;
      outline-style: auto; } }

.checkbox-label {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin-left: 2px; }
  .checkbox-label:after {
    position: absolute;
    content: '';
    left: 2px;
    top: 8px;
    display: inline-block;
    height: 9px;
    width: 13px;
    background-image: url("../img/white-check.svg"); }
  .checkbox-label:before {
    content: '';
    position: relative;
    margin-right: 6px;
    top: 4px;
    left: 0;
    background-position: 50% 50%;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#1b99ff), to(#1b99ff));
    background-image: linear-gradient(#1b99ff, #1b99ff);
    background-repeat: no-repeat;
    background-size: 0% 0%;
    display: inline-block;
    height: 16px;
    width: 16px;
    border-radius: 2px;
    border: 1px solid grey; }
  .checkbox-label .dots {
    position: relative;
    bottom: 2px;
    font-size: 15px; }

.picker-container {
  height: 300px;
  margin-top: 30px;
  cursor: pointer; }

.table-table {
  background-color: #edecee; }

.table-section {
  background-color: #edecee; }

.table-sidebar {
  margin-left: 15px; }

.table {
  border-bottom: 1px solid #dee2e6; }
  .table .table-header {
    background-color: #edecee;
    border: 1px solid #edecee; }
    .table .table-header th {
      text-transform: uppercase;
      font-size: 13px; }
      .table .table-header th .checkbox-label {
        padding: 0;
        margin: 0 3px; }
        .table .table-header th .checkbox-label:before {
          background-color: #fff; }
  .table .table-body {
    font-size: 15px;
    background-color: white; }
    .table .table-body .add-btns {
      display: inline-block;
      padding-left: 50px; }
    .table .table-body .table-row:hover {
      cursor: pointer;
      background-color: #F4FBFE; }
    .table .table-body th {
      border-right: 1px solid #dee2e6; }

.act-number {
  margin-left: 15px; }

.modal-backdrop {
  background: none; }

.color-modal .modal-dialog {
  margin: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }

.color-modal .modal-content {
  margin-bottom: 80px;
  margin-left: 0;
  position: absolute;
  top: 25px;
  left: 5px; }
  .color-modal .modal-content .color-btn {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
    border: 1px solid;
    cursor: pointer; }
    .color-modal .modal-content .color-btn.color-green {
      border-color: #94af45;
      background-color: #94af45; }
    .color-modal .modal-content .color-btn.color-orange {
      border-color: #ff9862;
      background-color: #ff9862; }

.row-modal {
  margin-top: auto;
  margin-bottom: auto; }
  .row-modal .modal-content {
    background-color: white; }

.table-sidebar {
  text-align: center;
  background-color: #94af45; }
  .table-sidebar.orange {
    background-color: #ff9862; }
  .table-sidebar .folder-icon {
    margin-top: 25px;
    height: 26px; }

.color-rail .icons-list {
  padding: 0 8px;
  margin: 0;
  text-align: center;
  padding-top: 60px;
  list-style-type: none; }
  .color-rail .icons-list li {
    padding-top: 20px;
    padding-bottom: 20px; }
    .color-rail .icons-list li .sidebar-trigger {
      background: none;
      border: none;
      cursor: pointer; }
    .color-rail .icons-list li.bell {
      border-bottom: 1px solid #fff; }

.table-list-sidebar {
  width: 0px;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
  cursor: pointer; }
  .table-list-sidebar.display {
    width: 200px; }
  .table-list-sidebar .sidebar-display {
    max-height: 1100px;
    min-width: 200px;
    width: 100%; }

/***************************
  RULES
****************************/
.pd {
  padding-left: 0;
  padding-right: 0; }

.icon {
  padding: 0 20px 0 10px;
  margin-left: 15px; }

.img-div img {
  width: 100%; }

.hide {
  display: none;
  visibility: hidden; }

.show {
  display: block;
  visibility: visible; }

.modal-content {
  background: transparent;
  border: none;
  cursor: pointer; }
  .modal-content .close-modal {
    position: relative;
    top: 40px;
    left: 120px;
    opacity: 0;
    padding: 200px;
    cursor: pointer; }

.color-picker-img {
  max-height: 240px;
  width: auto; }

.video {
  cursor: pointer; }

.table-row {
  cursor: pointer; }

body {
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
  background-image: url("../img/tables/table-hmpg_bg.png");
  background-repeat: repeat-x;
  width: 100%;
  min-width: 1240px; }

/* ------ Global ----- */
.left {
  float: left; }

.right {
  float: right; }

/* ------ Table Homepage ----- */
.page-top_table {
  min-width: 100%; }

.tbl {
  display: table;
  table-layout: fixed;
  min-width: 100%;
  clear: both; }

.col {
  cursor: pointer; }

.tbl-col {
  display: table-cell; }

.sidebar-trigger {
  cursor: pointer; }

.panel-view {
  border-right: 0.5px solid #d7d6d9;
  background-color: #f7f7f8; }

.record-page {
  min-height: 1500px;
  height: 100%; }
  .record-page .color-rail {
    background-color: #94af45; }
  .record-page .record-color-rail {
    margin-right: 15px;
    text-align: center;
    padding-left: 8px;
    background-color: #94af45; }
  .record-page #record-detail .slice-two {
    float: right; }
  .record-page .manager-row {
    background-image: url("../img/bottom-border-record.png");
    background-repeat: repeat-x;
    height: 175px;
    cursor: pointer; }

.record-page {
  background-color: white; }

.tl-sc {
  padding-left: 0; }

.grid {
  background-color: white;
  min-height: 800px;
  width: 100%;
  min-width: 1240px; }

body.app,
body.myapps {
  background: none; }

/* ------ My Apps ----- */
.page-top_myapps {
  background-image: url("../img/bottom-border-record.png");
  background-repeat: repeat-x;
  width: 100%;
  min-width: 1240px;
  min-height: 250px; }
  .page-top_myapps .left {
    background: white; }

.myapps-left {
  width: 8px;
  height: 100%;
  background-color: #94af45;
  float: left; }

#link-gif {
  width: 232px;
  height: 235px;
  cursor: pointer; }

.grid {
  padding-top: 32px; }

#link {
  width: 232px;
  height: 232px;
  float: left; }

.app-hmpg_content {
  /*clear: both;*/
  position: absolute;
  left: 58px;
  top: 256px; }

.app-color-rail {
  background-color: #94af45;
  padding-left: 10px;
  text-align: center; }

.app-hm {
  height: 100%;
  min-height: 1500px; }
  .app-hm .right-test img {
    float: right; }

.main-content {
  padding: 0;
  margin: 0; }

.md-modal {
  top: 300px;
  left: 655px; }

.main-tbl {
  min-height: 1500px; }
