/***************************
  BASE
****************************/
/***************************
  CCOMPONENTS
****************************/
.checkbox {
  display: inline-block;
  padding-right: 3px; }

.checkbox-element {
  /*
* https://webaim.org/techniques/css/invisiblecontent/#techniques
* hiding the checkbox styles
* border/margin/padding helps turn off any default browser padding
* height/clip work as a backup in case positioning fails or isn't supported for some reason.
*/
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  /* hide the check by default */ }
  .checkbox-element + label:after {
    content: none; }
  .checkbox-element + label:before {
    background-size: 0% 0%;
    -webkit-transition: background-size 0.05s ease-in-out;
    transition: background-size 0.05s ease-in-out; }
  .checkbox-element:checked + label:after {
    content: ''; }
  .checkbox-element:checked + label:before {
    border: 1px solid #1b99ff;
    -webkit-transition: border 0.05s ease-in-out;
    transition: border 0.05s ease-in-out; }
  .checkbox-element:checked + label:before {
    background-size: 100% 100%;
    -webkit-transition: background-size 0.05s;
    transition: background-size 0.05s; }
  @media (-webkit-min-device-pixel-ratio: 0) {
    .checkbox-element:focus + label:before,
    .checkbox-element:active + label:before {
      outline-color: -webkit-focus-ring-color;
      outline-style: auto; } }

.checkbox-label {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin-left: 2px; }
  .checkbox-label:after {
    position: absolute;
    content: '';
    left: 2px;
    top: 8px;
    display: inline-block;
    height: 9px;
    width: 13px;
    background-image: url("../img/white-check.svg"); }
  .checkbox-label:before {
    content: '';
    position: relative;
    margin-right: 6px;
    top: 4px;
    left: 0;
    background-position: 50% 50%;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#1b99ff), to(#1b99ff));
    background-image: linear-gradient(#1b99ff, #1b99ff);
    background-repeat: no-repeat;
    background-size: 0% 0%;
    display: inline-block;
    height: 16px;
    width: 16px;
    border-radius: 2px;
    border: 1px solid grey; }
  .checkbox-label .dots {
    position: relative;
    bottom: 2px;
    font-size: 15px; }

.table-sidebar {
  margin-left: 15px; }

.table {
  border-bottom: 1px solid #dee2e6; }
  .table .table-header {
    background-color: #edecee;
    border: 1px solid #edecee; }
    .table .table-header th {
      text-transform: uppercase;
      font-size: 13px; }
      .table .table-header th .checkbox-label {
        padding: 0;
        margin: 0 3px; }
        .table .table-header th .checkbox-label:before {
          background-color: #fff; }
  .table .table-body {
    font-size: 15px; }
    .table .table-body th {
      border-right: 1px solid #dee2e6; }

.act-number {
  margin-left: 15px; }

.modal-backdrop {
  background: none; }

.modal-dialog {
  margin: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }

.modal-content {
  margin-bottom: 150px;
  margin-left: 30px; }
  .modal-content .color-btn {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
    border: 1px solid;
    cursor: pointer; }
    .modal-content .color-btn.color-green {
      border-color: #9AAD55;
      background-color: #9AAD55; }
    .modal-content .color-btn.color-orange {
      border-color: #F29C6C;
      background-color: #F29C6C; }

.color-rail {
  height: 100%;
  background-color: #9AAD55; }
  .color-rail.orange {
    background-color: #F29C6C; }

.table-list-sidebar {
  background-color: #F7F7F8;
  height: 100%;
  padding: 20px 20px 5px 10px; }
  .table-list-sidebar .table-list {
    list-style-type: none;
    padding-left: 0; }

.picker-container {
  height: 100%; }

/***************************
  RULES
****************************/
.pd {
  padding-left: 0;
  padding-right: 0; }

.icon {
  padding: 0 20px 0 10px;
  margin-left: 15px; }

.img-div {
  display: inline-block; }
  .img-div.right {
    float: right; }

.hide {
  display: none;
  visibility: hidden; }

.show {
  display: block;
  visibility: visible; }
