<!DOCTYPE html>
<html lang="en">
  <head>
    <title>QB UXables</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/default.css" />
    <link rel="stylesheet" type="text/css" href="css/component.css" />
    <!-- build:css css/styles.min.css -->
      <link rel="stylesheet" href="./css/main.css">
    <!-- endbuild -->

    <link rel="stylesheet" href="./img/icons/icons.fallback.css">
    <link rel="stylesheet" href="./img/icons/icons.data.png.css">
    <link rel="stylesheet" href="./img/icons/icons.data.svg.css">
    <script data-concat="false" src="./vendor/grunticon/grunticon.loader.min.js"></script>
  </head>
  <body class="myapps">

  <div class="pd container-fluid main-section col-xs-12" role="main">
