<div class="col-xs-12 row">
  <div class="col-xs-3">
    <img src="./img/sliced-table/top-left.png" class="img-responsive" />
  </div>
  <div class="col-xs-3">
    <img src="./img/sliced-table/top-right.png" class="img-responsive" />
  </div>
  <div class="col-xs-3">
    <img src="./img/sliced-table/top-righter.png" class="img-responsive" />
  </div>
  <div class="col-xs-3">
    <img src="./img/sliced-table/top-rightest.png" class="img-responsive" />
  </div>
</div>
<div class="col-xs-12 row">
  <div class="col-xs-3">
    <img src="./img/sliced-table/bottom-left.png" class="img-responsive" />
  </div>
  <div class="col-xs-3">
    <img src="./img/sliced-table/bottom-middle.png" class="img-responsive" />
  </div>
  <div class="col-xs-3">
    <img src="./img/sliced-table/bottom-right.png" class="img-responsive" />
  </div>
  <div class="col-xs-3">
    <img src="./img/sliced-table/bottom-rightest.png" class="img-responsive" />
  </div>
</div>
<div class="col-xs-12 row">
  <img src="./img/sliced-table/activities.png" class="img-responsive" />
</div>