<div class="row table-section">
  <div class="col-xs-1 table-sidebar">
    <% include ../components/_table-sidebar %> 
  </div>

  <div class="col-xs-4 panel-view">
    <% include ../components/_table-panel %> 
  </div>

  <div class="col-sm table-table">
    <% include ./_table-pieces %>
  </div>
</div>

  <!--  <% var tableData= data.users; %>
    <% include ../components/_table-homepage %>  -->