<div class="col-xs-12 row table-row top-row-container">
  <div class="col-xs-3">
    <img src="./img/sliced-table/top-left.png" class="img-fluid" />
  </div>
  <div class="col-xs-3">
    <img src="./img/sliced-table/top-right.png" class="img-fluid" />
  </div>
  <div class="col-xs-3">
    <img src="./img/sliced-table/top-righter.png" class="img-fluid" />
  </div>
  <div class="col-xs-3">
    <img src="./img/sliced-table/top-rightest.png" class="img-fluid" />
  </div>
</div>
<div class="col-xs-12">
  <div class="col-xs-12 hide row top-new-row">
    <div class="col-xs-4">
      <img src="./img/sliced-table/active-line.png" class="img-fluid" />
    </div>
    <div class="col-xs-4">
      <img src="./img/sliced-table/new-row.png" class="img-fluid" />
    </div>
    <div class="col-xs-4">
      <img src="./img/sliced-table/new-row-two.png" class="img-fluid" />
    </div>
    <div class="col-xs-4">
      <img src="./img/sliced-table/new-row-three.png" class="img-fluid" />
    </div>
  </div>
  <div class="col-xs-12 hide row bottom-new-row">
    <div class="col-xs-4">
      <img src="./img/sliced-table/active-line.png" class="img-fluid" />
    </div>
    <div class="col-xs-4">
      <img src="./img/sliced-table/new-row.png" class="img-fluid" />
    </div>
    <div class="col-xs-4">
      <img src="./img/sliced-table/new-row-two.png" class="img-fluid" />
    </div>
    <div class="col-xs-4">
      <img src="./img/sliced-table/new-row-three.png" class="img-fluid" />
    </div>
  </div>
</div>
<div class="col-xs-12 row table-row bottom-row-container">
  <div class="col-xs-3">
    <img src="./img/sliced-table/bottom-left.png" class="img-fluid" />
  </div>
  <div class="col-xs-3">
    <img src="./img/sliced-table/bottom-middle.png" class="img-fluid" />
  </div>
  <div class="col-xs-3">
    <img src="./img/sliced-table/bottom-right.png" class="img-fluid" />
  </div>
  <div class="col-xs-3">
    <img src="./img/sliced-table/bottom-rightest.png" class="img-fluid" />
  </div>
</div>
<div class="col-xs-12 row">
  <img src="./img/sliced-table/activities.png" class="img-fluid" />
</div>