<div class="row">
  <div class="col-xs-1 table-sidebar">
    <% include ../components/_table-sidebar %> 
  </div>

  <div class="col-xs-4">
    <% var tableList= data.tableList; %>
    <% include ../components/_table-list-sidebar %> 
  </div>

  <div class="pd col-sm table-table">
    <% var tableData= data.users; %>
    <% include ../components/_table-homepage %> 
  </div>
</div>