.checkbox {
  display: inline-block;
  padding-right: 3px;
}

.checkbox-element {
  /*
* https://webaim.org/techniques/css/invisiblecontent/#techniques
* hiding the checkbox styles
* border/margin/padding helps turn off any default browser padding 
* height/clip work as a backup in case positioning fails or isn't supported for some reason.
*/
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;

  /* hide the check by default */
  & + label::after {
    content: none;
  }

  & + label::before {
    background-size: 0% 0%;
    transition: background-size 0.05s ease-in-out;
  }

  unhide the checkmark on the checked state
  &:checked + label::after {
    content: '';
  }

  &:checked + label::before {
    border: 1px solid black;
    transition: border 0.05s ease-in-out;
  }

  &:checked + label::before {
    background-size: 100% 100%;
    transition: background-size 0.05s;
  }

  @media (-webkit-min-device-pixel-ratio: 0) {
    &:focus + label::before,
    &:active + label::before {
      outline-color: -webkit-focus-ring-color;
      outline-style: auto;
    }
  }
}

.checkbox-label {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin-left: 2px;

  &::after {
    position: absolute;
  }

  &::before {
    content: '';
    position: relative;
    margin-right: 6px;
    top: 4px;
    left: 0;
    background-position: 50% 50%;
    background-image: linear-gradient(
      #1b99ff,
      #1b99ff
    );
    background-repeat: no-repeat;
    background-size: 0% 0%;
    display: inline-block;
    height: 16px;
    width: 16px;
    border-radius: 2px;
    border: 1px solid black;
  }

  &::after {
    content: '';
    left: 2px;
    top: 8px;
    display: inline-block;
    height: 9px;
    width: 13px;
    background-image: url('../img/white-check.svg');
  }
}