.color-rail {
  height: 100%;
  background-color: $green;

  &.orange {
    background-color: $orange;
  }

  .icons-list {
    padding: 0 8px;
    margin: 0;
    text-align: center;
    padding-top: 60px;
    list-style-type: none;

    li {
      padding-top: 20px;
      padding-bottom: 20px;

      .sidebar-trigger {
        background: none;
        border: none;
        cursor: pointer;
      }

      &.bell {
        border-bottom: 1px solid #fff;
      }
    }
  }
}

.table-list-sidebar {
  width: 0px;
  transition: width 0.5s;
  max-width: 265px;
  cursor: pointer;

  &.display {
    width: 265px;
  }

  .sidebar-display {
    height: 100%;
    max-height: 1260px;
  }
}

.picker-container {
  height: 100%;
}