.table-sidebar {
  text-align: center;
  background-color: $green;

  &.orange {
    background-color: $orange;
  }

  .folder-icon {
    margin-top: 25px;
    height: 26px;
  }
}

.color-rail {
  .icons-list {
    padding: 0 8px;
    margin: 0;
    text-align: center;
    padding-top: 60px;
    list-style-type: none;

    li {
      padding-top: 20px;
      padding-bottom: 20px;

      .sidebar-trigger {
        background: none;
        border: none;
        cursor: pointer;
      }

      &.bell {
        border-bottom: 1px solid #fff;
      }
    }
  }
}

.table-list-sidebar {
  width: 0px;
  opacity: 0;
  transition: width 0.5s, opacity 0.5s;
  max-width: 181;
  cursor: pointer;

  &.display {
    width: 180px;
    opacity: 1;
  }

  .sidebar-display {
    max-height: 928px;
  }
}