.table-section {
  background-color: $grey;
}

.table-sidebar {
  margin-left: 15px;
}

.table {
  border-bottom: 1px solid #dee2e6;

  .table-header {
    background-color: $grey;
    border: 1px solid $grey;

    th {
      text-transform: uppercase;
      font-size: 13px;

      .checkbox-label {
        padding: 0;
        margin: 0 3px;

        &:before {
          background-color: #fff;
        }
      }
    }
  }

  .table-body {
    font-size: 15px;
    background-color: white;

    .table-row {
      &:hover {
        cursor: pointer;
        background-color: $lightblue;
      }
    }

    th {
      border-right: 1px solid #dee2e6;
    }
  }
}

.act-number {
  margin-left: 15px;
}
