<% include ../partials/_header %>

<!-- <div class="wrapper">  -->
  <div class="col-xs-12 row app-hm">
    <div class="col-xs-2 app-color-rail">
    <% include ../components/_records-sidebar %>
  </div>
  <div class="col-sm main-content">
    <div class="page-top_myapps col-xs-12">
      <div class="left"><img src="img/tables/app-hmpg_slice1.png"></div>
      <div class="right right-test"><img src="img/tables/app-hmpg_slice2.png"></div>
      <div class="app-hmpg_content"><button class="md-trigger" data-modal="modal-1"><img src="img/tables/app-hmpg_slice3.png"></button></div>
    </div>
    <div class="md-modal md-effect-3" id="modal-1">
      
      <div class="md-content">
        <div>
          <button class="md-close"><img src="img/tables/app-hmpg_chart-picker.png"></button>
        </div>
        
      </div>
    </div>
    
    <div class="md-overlay"></div><!-- the overlay element -->
  </div>
  </div>
<!-- </div> -->

    <!-- classie.js by @desandro: https://github.com/desandro/classie -->
    <script src="js/al/classie.js"></script>
    <script src="js/al/modalEffects.js"></script>

    <!-- for the blur effect -->
    <!-- by @derSchepp https://github.com/Schepp/CSS-Filters-Polyfill -->
    <script>
      // this is important for IEs
      var polyfilter_scriptpath = '/js/';
    </script>
    <script src="js/al/cssParser.js"></script>
    <script src="js/al/css-filters-polyfill.js"></script>

    <script>
      $('#submit').on('click', function() {
    if ($('#container').css('opacity') == 0) {
        $('#container').css('opacity', 1);
    }
    else {
        $('#container').css('opacity', 0);
    }
});
</script>
  

</body>
</html>