<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Simple Contact Manager: Activities</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <link rel="stylesheet" href="css/main.css">

</head>

<body>

  <div class="sidebar">
<!--     <div class="table-sidebar">
    <% include ../components/_table-sidebar %> 
  </div> -->

  <div class="panel-view">
    <% include ../components/_table-panel %> 
  </div>
  </div>

  <div class="page-top_table">
    <div class="left"><img src="img/tables/table-hmpg_slice-1.png"></div>
    <div class="right"><img src="img/tables/table-hmpg_slice-2.png"></div>
  </div>

  <div class="table">
    <div class="left"><img src="img/tables/table-hmpg_slice-3.png"></div>
    <div class="col"><img src="img/tables/table-hmpg_slice-4.png"></div>
    <div class="col"><img src="img/tables/table-hmpg_slice-5.png"></div>
    <div class="col"><img src="img/tables/table-hmpg_slice-6.png"></div>
  </div>

  <div class="page-bottom_table">
    <img src="img/tables/table-hmpg_slice-7.png">
  </div>

</body>
</html>