<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>UXables</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <link rel="stylesheet" href="css/main.css">

</head>

<body class="app">
  
  <div class="myapps-left"></div> 
  <div class="page-top_myapps">
    <div class="left"><img src="img/gifs/myapps_slice-1.png"></div>
    <div class="right"><img src="img/gifs/myapps_slice-2.png"></div>
  </div>

  <div class="grid">

    <div class="row1">
      <div id="link">
          <div id="link-gif">
              <img id="a" src="img/gifs/1.gif" />
          </div>
      </div>

      <div id="link">
        <div id="app2">
              <img id="b" src="img/gifs/2.gif" />
          </div>
      </div>

      <div id="link">
        <div id="app3">
              <img id="c" src="img/gifs/3.gif" />
          </div>
      </div>

      <div id="link">
        <div id="app4">
              <a href="table-view.html"><img id="d" src="img/gifs/4.gif" /></a>
          </div>
      </div>
    </row>

    <div class="row2">
      <div id="link">
          <div id="app5" style="position: relative; top: -8px;">
              <img id="e" src="img/gifs/5.gif" />
          </div>
      </div>

      <div id="link">
        <div id="app6" style="position: relative; top: -8px;">
              <img id="f" src="img/gifs/6.gif" />
          </div>
      </div>
    </row>

  </div>

<script>
$(function() {
    $("#link-gif").hover(
        function() {
      $('#a').prop('src', 'img/gifs/1a.gif');
        },
        function() {
      $('#a').prop('src', 'img/gifs/1b.gif');
        }
    );
});

$(function() {
    $("#app2").hover(
        function() {
      $('#b').prop('src', 'img/gifs/2a.gif');
        },
        function() {
      $('#b').prop('src', 'img/gifs/2b.gif');
        }
    );
});

$(function() {
    $("#app3").hover(
        function() {
      $('#c').prop('src', 'img/gifs/3a.gif');
        },
        function() {
      $('#c').prop('src', 'img/gifs/3b.gif');
        }
    );
});


$(function() {
    $("#app4").hover(
        function() {
      $('#d').prop('src', 'img/gifs/4a.gif');
        },
        function() {
      $('#d').prop('src', 'img/gifs/4b.gif');
        }
    );
});

$(function() {
    $("#app5").hover(
        function() {
      $('#e').prop('src', 'img/gifs/5a.gif');
        },
        function() {
      $('#e').prop('src', 'img/gifs/5b.gif');
        }
    );
});

$(function() {
    $("#app6").hover(
        function() {
      $('#f').prop('src', 'img/gifs/6a.gif');
        },
        function() {
      $('#f').prop('src', 'img/gifs/6b.gif');
        }
    );
});



</script>

</body>
</html>