<% include ../partials/_header %>

<section class="col-xs-10 section" id="main">
  <h1>Hello world <span class="icon icon--coffee"></span></h1>

  <ul id="users"></ul>
</section>

<% include ../partials/_footer %>
