<% include ../partials/_header %>

<section class="col-xs-12 section record-page row">
  <div class="col-xs-2 record-color-rail">
    <% include ../components/_records-sidebar %>
  </div>
  <div class="col-xs-10" id="record-detail">
    <img src="./img/tables/record-detail_content.png" class="test" />
  </div>
</section>

<% include ../partials/_footer %>
