<% include ../partials/_header %>

<div class="col-xs-12 record-page row">
  <div class="col-xs-2 record-color-rail">
    <% include ../components/_records-sidebar %>
  </div>
  <div class="col-sm" id="record-detail">
    <div class="col-xs-12 row manager-row">
       <div class="col-xs-6">
      <img src="img/record-details/record-detail_slice-1.png" />
    </div>
    <div class="col-sm right">
      <img src="img/record-details/record-detail_slice-2.png" class="slice-two" />
    </div>
  </div>
    <div class="col-xs-12 row">
      <div class="col-xs-6">
      <img src="img/record-details/record-detail_slice-3.png" />
    </div>
    <div class="col-xs-6 white-slice">
      <img src="img/record-details/record-detail_slice-4.png" />
    </div>
  </div>
    </div>
</div>

<% include ../partials/_footer %>
