<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Simple Contact Manager: Activities</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- build:css css/styles.min.css -->
      <link rel="stylesheet" href="./css/main.css">
    <!-- endbuild -->
</head>

<body>
  <div class="main row col-xs-12"> 
    <div class="col-xs-1 table-sidebar">
      <% include ../components/_table-sidebar %> 
    </div>

    <div class="col-xs-4 panel-view">
      <% include ../components/_table-panel %> 
    </div>

    <div class="col-sm tl-sc"><!-- header and table -->
    <div class="page-top_table">
      <div class="left"><img src="img/tables/table-hmpg_slice-1.png"></div>
      <div class="right"><img src="img/tables/table-hmpg_slice-2.png"></div>
    </div>

    <div class="tbl">
      <div class="left"><img src="img/tables/table-hmpg_slice-3.png"></div>
      <div class="col"><img src="img/tables/table-hmpg_slice-4.png"></div>
      <div class="tbl-col"><img src="img/tables/table-hmpg_slice-5.png"></div>
      <div class="tbl-col"><img src="img/tables/table-hmpg_slice-6.png"></div>
    </div>

    <div class="page-bottom_table">
      <img src="img/tables/table-hmpg_slice-7.png">
    </div>
  </div>
  </div>

  <div class="modals">
  <% include ../components/_row-modal %>
  <% include ../components/_color-picker %>
</div>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script type="text/javascript" src="./js/main.js"></script>
</body>
</html>