<% include ../partials/_header %>

<section class="col-xs-12 section" id="main">
  <!-- table -->
  <div class="col-xs-12">
    <% include ../partials/_table-view %>  
  </div>
</section>

<% include ../components/_color-picker %> 

<% include ../partials/_footer %>
