<% include ../partials/_header %>

<section class="col-xs-10 section" id="main">

  <div class="col-xs-12 row">
    <div class="col-xs-6">
      <video class="video">
        <source src="../img/vid/hover_01.mp4" type="video/mp4">
      </video>
    </div>

    <div class="col-xs-6">
      <video class="video">
        <source src="../img/vid/hover_02.mp4" type="video/mp4">
      </video>
    </div>
    </div>

    <div class="col-xs-12 row">
      <div class="col-xs-6">
      <video class="video">
        <source src="../img/vid/hover_01.mp4" type="video/mp4">
      </video>
    </div>

    <div class="col-xs-6">
      <video class="video">
        <source src="../img/vid/hover_02.mp4" type="video/mp4">
      </video>
    </div>
    </div>
  </div>

<% include ../partials/_footer %>
