.icon--app-icon-folder { background-image: url('png/app-icon-folder.png'); background-repeat: no-repeat; }

.icon--coffee { background-image: url('png/coffee.png'); background-repeat: no-repeat; }

.icon--icon-filter { background-image: url('png/icon-filter.png'); background-repeat: no-repeat; }

.icon--icon-folder { background-image: url('png/icon-folder.png'); background-repeat: no-repeat; }

.icon--icon-notifications { background-image: url('png/icon-notifications.png'); background-repeat: no-repeat; }

.icon--icon-settings { background-image: url('png/icon-settings.png'); background-repeat: no-repeat; }

.icon--icon-tables { background-image: url('png/icon-tables.png'); background-repeat: no-repeat; }

.icon--icon-user { background-image: url('png/icon-user.png'); background-repeat: no-repeat; }

